<button class="btn btn-dark my-5 ml-5 shadow" routerLink="/{{tip | lowercase}}">Nazad</button>
<div class="container px-0 pb-5 mb-5 mt-0 border-danger shadow bg-light rounded">
	<div id="carouselExampleSlidesOnly" class="carousel slide m-0" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img [src]="imageUrl" class="d-block w-100 rounded shadow" alt="...">
			</div>
		</div>
	</div>
	<div class="container text-justify px-4 bg-light">
		<h2 class="text-dark mt-5 mb-5">{{thing.title}}</h2>
		<h4 class="text-dark">Opis:</h4>
		<p class="text-dark text-justify mb-3">{{thing.description}}</p>
		<h5 class="text-dark mb-3">Poreklo: {{thing.poreklo}}</h5>
		<!-- <h5 class="text-dark">Cena: {{thing.price}}</h5> -->
	</div>
</div>